pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure

-e .

# dev requirements -

pytest==7.1.3
tox==3.25.1
black==22.8.0

# check Python code quality -
flake8==5.0.4 

# check type correctness -
mypy==0.971 